select.form-control:not([size]):not([multiple]) {
    height: auto !important;
}

.dashboard-container {
    background: url(../../images/vehicle.png) no-repeat center center;
    background-size: cover;
    width: 100%;
    padding-left: 80px;
    padding-top: 50px;
    position: relative;
}


.dashboard-container .action-buttons,
.dashboard-container .header {
    position: relative;
    z-index: 99;
}

.dashboard-container .header h5 {
    font-size: 18px;
    font-style: italic;
    color: white;
}

.dashboard-container::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: #2b446bc2;
    top: 0;
    left: 0;
}

.dashboard-container .action-buttons {
    display: flex;
    position: absolute;
    bottom: 90px;
}

.dashboard-container .single-btn {
    background: #fff;
    margin-right: 32px;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 16px;
    cursor: pointer;
    position: relative;
    color: #333;
}

.dashboard-container .single-btn:hover {
    opacity: 0.9;
}

.dashboard-container .single-btn svg {
    margin-right: 13px;
    width: 35px;
    height: 35px;
    position: relative;
    padding-top: 2px;
    background: #e7e7e7;
    padding: 7px;
    border-radius: 50%;
    position: relative;
}

.dashboard-container .single-btn svg::after {
    left: auto;
    z-index: 9999999;
}

.dashboard-container .single-btn::after {
    content: "";
    width: 5px;
    height: 5px;
    background: #ccc;
    position: absolute;
    top: 7px;
    left: 10px;
}

/* Remove borders, make modern */
.select2-container .select2-selection--single {
    height: 48px !important;
    border-radius: 8px !important;
    border: 1px solid #ccc !important;
    padding: 8px 12px !important;
    display: flex;
    align-items: center;
}

/* Placeholder & text style */
.select2-container .select2-selection__rendered {
    font-size: 15px;
    color: #333;
}

/* Arrow styling */
.select2-container .select2-selection__arrow {
    height: 48px !important;
}

/* Dropdown menu style */
.select2-dropdown {
    border-radius: 8px !important;
    border: 1px solid #ccc !important;
}

.select2-results__option {
    padding: 10px !important;
    font-size: 15px;
}

.select2-container--default .select2-selection--single .select2-selection__clear {
    cursor: pointer;
    float: right;
    font-weight: bold;
    height: 27px;
    margin-right: 0px;
    padding-right: 0px;
    font-size: 18px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 1px;
    right: 6px;
    width: 20px;
}

/* Remove borders, make modern */
.custom-heading {
    position: relative;
}

.custom-heading::after {
    content: "";
    width: 35%;
    height: 2px;
    background: var(--webMainColor);
    position: absolute;
    left: 0;
    bottom: -9px;
}

.custom-heading::before {
    content: "";
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 35%;
    background: var(--webMainColor);
    bottom: -12px;
}