/* Make Select2 look like Bootstrap .form-control */
.select2-container--default .select2-selection--single {
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    border-radius: .375rem;
    background-color: #fff;
    box-shadow: none;
    line-height: 1.2;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #212529;
    margin-top: -1px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: calc(2.25rem + 2px);
    right: .5rem;
    top: 0;
    width: 2.25rem;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: #212529 transparent transparent transparent;
}

.select2-container--default .select2-selection--single:focus,
.select2-container--default .select2-selection--single.select2-selection--focus {
    outline: 0;
    border-color: #86b7fe;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

.select2-container--default .select2-selection--multiple {
    min-height: calc(2.25rem + 2px);
    padding: .25rem .5rem;
    border: 1px solid #ced4da;
    border-radius: .375rem;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background: #0d6efd;
    color: #fff;
    border: none;
    padding: .25rem .5rem;
    margin-top: .2rem;
    margin-right: .25rem;
    border-radius: .375rem;
    font-size: .85em;
}

.select2-container .select2-dropdown {
    border-radius: .375rem;
    border: 1px solid rgba(0, 0, 0, .15);
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.select2-container {
    width: 100% !important;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    border: 1px solid #ced4da;
    border-radius: .25rem;
    padding: .375rem .75rem;
    height: auto;
}

.select2-container--default.select2-container--disabled .select2-selection--single {
    background-color: #e9ecef;
    opacity: 1;
}

.select2-container--default.select2-container--small .select2-selection--single {
    height: calc(1.5rem + 2px);
    padding: .125rem .5rem;
    border-radius: .25rem;
}

.select2-container--default.select2-container--large .select2-selection--single {
    height: calc(2.75rem + 2px);
    padding: .5rem 1rem;
    border-radius: .5rem;
}