/*----------------------
    Top NavBar Start
-----------------------*/
.navbar {
    padding: 10px 40px;
    top: 0;
    z-index: 999999;
    height: 60px;
    position: fixed;
    width: 100%;
    background: transparent;
    box-shadow: 0 0 2px #000a;
}

.navbar-light .navbar-brand {
    color: rgba(0, 0, 0, .9);
}

.navbar-brand {
    display: inline-block;
    padding-top: 0.3125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar.full-width {
    padding-left: 20px;
}

.navbar .page-name {
    font-size: 20px;
    color: #777;
    font-family: var(--fontFamily);
    font-weight: normal;
}

.navbar .menu {
    flex: 1;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
}

.navbar .menu-item {
    background: none;
    font-size: 16px;
    color: #777;
    border: none;
    cursor: pointer;
}

.navbar .menu-item img {
    width: 30px;
    height: 30px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.dropdown-menu {
    right: 0;
    left: auto;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 20px #0001;
    -webkit-animation: fadeTop 0.2s linear;
    -moz-animation: fadeTop 0.2s linear;
    -o-animation: fadeTop 0.2s linear;
    animation: fadeTop 0.2s linear;
}

@keyframes fadeTop {
    from {
        -webkit-transform: translateY(-10px);
        -moz-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
        -o-transform: translateY(-10px);
        transform: translateY(-10px);
    }

    to {
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
}

.dropdown-menu .dropdown-item {
    display: flex;
    padding: 8px 15px;
}

.dropdown-menu .dropdown-item i {
    display: inline-block;
    margin-right: 10px;
}

.dropdown-toggle.no-arrow-icon::after {
    content: none !important;
}

/*----------------------
    Top NavBar End
-----------------------*/