 @media (max-width: 1024px) {
     .customer-info-status {
         flex-direction: column;
     }

     .customer-info-status button {
         margin-bottom: 10px;
     }

     .profile-info .head .badge {
         margin-bottom: 10px;
     }

     .profile-info .single-info {
         word-break: break-all;
     }

     #viewInvoicesContainer .single-header {
         flex-direction: column;
     }

     #viewInvoicesContainer .single-invoice-card {
         padding-inline: 0 !important;
     }
 }

 @media (max-width: 768px) {

     .add-staff-container .card,
     .view-reg-vehicle-container .card,
     .add-customer-container .card,
     .view-reg-vehicle-container .card-body,
     .invoice-container .card {
         padding: 20px 5px;
     }

     .dataTable-container .table-responsive {
         overflow: auto !important;
     }

     .invoice-container #add_row {
         margin-top: 20px;
     }

     body {
         overflow-x: hidden !important;
     }

     .dashboard-container .action-buttons {
         bottom: 20px;
     }

     .custom-heading::after {
         width: 100%;
     }

     .custom-heading::before {
         left: 100%;
     }

     .invoice-container .card {
         padding-top: 20px;
         padding-bottom: 21px;
     }

     .invoice-items-container .services-header {
         overflow-x: auto;
     }

     .profile-header .pull-away {
         flex-direction: column;
         align-items: start;
     }

     .profile-header .pull-away button {
         margin-top: 15px;
         width: 100%;
     }

     .customer-note-tinymce .btn {
         position: unset !important;
         display: flex;
         justify-content: center;
         align-items: center;
     }

     .customer-note-container {
         max-height: 400px !important;
     }

     .navbar {
         z-index: 9999 !important;
     }

     #viewInvoicesContainer .pull-away {
         flex-direction: column;
     }
 }

 /* Desktop Styles */
 @media (min-width: 769px) {}

 /* Small mobile optimization */
 @media (max-width: 480px) {
     h3 {
         font-size: 19px !important;
         margin-bottom: 0 !important;
     }

     h1 {
         font-size: 20px !important;
     }

     .compact-info-card .card-header {
         flex-direction: column;
         justify-content: flex-start;
         display: flex;
         align-items: start !important;
     }

     .modal.fade .modal-dialog {
         max-width: 100% !important;
     }

     .dashboard-container .action-buttons {
         flex-direction: column;
     }

     .dashboard-container .single-btn {
         margin-bottom: 20px;
         border-right: none;
     }

     .dashboard-container {
         padding-left: 30px;
     }

     .dashboard-container .header h2 {
         font-size: 30px !important;
     }

     .dashboard-container .header p {
         font-size: 14px !important;
     }

     .user-info h4 {
         font-size: 15px;
         padding-top: 0px;
         margin-bottom: 2px;
         font-weight: bold;
         color: #04091E;
     }

     .user-info p {
         font-size: 10px;
         color: #747681;
         font-weight: normal;
     }

     .vehicle-list-container .pull-away {
         flex-direction: column;
     }

     .vehicle-list-container .buttons {
         text-align: right;
     }

     .vehicle-list-container .buttons .btn {
         margin-bottom: 5px;
     }

     .navbar .toggle-sidebar {
         margin-right: 3px !important;
     }

     .custom-table-header {
         flex-direction: column;
     }

     .custom-table-header .search-container {
         width: 100% !important;
         margin-bottom: 10px;
     }

     .custom-table-header .content-center {
         justify-content: flex-start;
     }

     .table-custom-design {
         margin-top: 20px !important;
     }

     .financial-btns {
         flex-direction: column;
     }

     .financial-btns button {
         margin: 0px !important;
         margin-bottom: 10px !important;
     }

     #viewInvoicesContainer .single-header {
         font-size: 12px;
     }

     #viewInvoicesContainer .single-header .action-btns {
         flex-direction: column;
         display: flex;
         justify-content: start;
         align-items: flex-start;
     }

     #viewInvoicesContainer .single-header .action-btns .update-payment {
         margin-left: 0 !important;
     }

     .modal-title {
         font-size: 16px !important;
     }

     .invoice-items-container .services-header,
     .invoice-services-container {
         flex-direction: column;
     }

     .invoice-text {
         font-size: 22px !important;
     }

     .sm-pull-away {
         flex-direction: column;
         display: flex;
     }

     .sm-pull-away .transparent-btn {
         margin-top: 10px;
     }

     .dashboard-container .single-btn:last-child {
         margin-bottom: 5px;
     }

     .customer-action-btn button,
     .customer-action-btn a {
         margin-top: 5px;
     }
 }

 @media (max-width: 330px) {
     .user-info p {
         display: none;
     }

     .custom-table-header .content-center {
         flex-direction: column;
     }

     .add-customer-btn {
         margin-top: 10px;
     }

     #resetBtn {
         margin-top: 10px;
     }

     .sm-pull-away {
         flex-direction: column;
         display: flex;
     }

     .sm-pull-away .transparent-btn {
         margin-top: 10px;
     }

     .heading-sm-w h2 {
         font-size: 14px !important;
     }
 }